Package: PipeDream-PD123
Version: 1.10.0
Section: Document
Priority: Optional
Maintainer: Colton Software <colton-software-pipedream@googlegroups.com>
Standards-Version: 0.4.0
Licence: Free
Description: PipeDream to Lotus 1-2-3 converter
Components: Apps.Utilities.!PD123 (Movable LookAt)
