@charset "UTF-8";

/* --------------------------------------- */
/* CSS for PipeDream Getting Started Guide */
/* --------------------------------------- */

/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/. */

/* Copyright © 2014-2022 Stuart Swales */

/* default rules for the whole document */
body {
    font-size: 12.8pt;
    font-family: sans-serif;
    font-weight: normal;
    font-style: normal;
    color: black;
    background-color: white;
    line-height: 1.33em;
    margin-left: 2.0em;
    margin-right: 2.0em;
    max-width: 750px;
}

/* paragraphs */
p {
    padding: 0;
    margin-top: 1em;
    margin-bottom: 1em;
    text-align: left;
}

/* headings */
h1 {
  /*font-size: 150%;*/
  /*font-family: serif;*/
  /*font-weight: bold;*/
  /*font-style: normal;*/
    line-height: normal;
    padding-top: 0.0em;
    padding-bottom: 0.5em;
    margin-top: 0.5em;
    border-bottom: 1px solid #888;
}

h2 {
    font-size: 120%;
    font-weight: bold;
    font-style: normal;
    line-height: normal;
    padding: 0;
    margin-top: 1.0em;
    margin-bottom: 1.1em;
}

h3 {
    font-size: 110%;
    font-weight: bold;
    font-style: normal;
    line-height: normal;
    padding: 0;
    margin-top: 1.0em;
    margin-bottom: 1.1em;
}

h4 {
    font-size: 100%;
    font-weight: bold;
    font-style: normal;
    line-height: normal;
    padding: 0;
    margin-top: 1.0em;
    margin-bottom: 1.1em;
}

h5 {
    font-size: 100%;
    font-weight: bold;
    font-style: italic;
    line-height: normal;
    padding: 0;
    margin-top: 1em;
    margin-bottom: 1em;
}

h6 {
    font-size: 100%;
    font-weight: normal;
    font-style: italic;
    line-height: normal;
    padding: 0;
    margin-top: 1em;
    margin-bottom: 1em;
}

/* divisions */
div {
    padding: 0;
    margin-top: 0em;
    margin-bottom: 0em;
}

/* lists */
ul, ol {
    padding: 0 0 0 3em;
    margin-top: 1em;
    margin-bottom: 1em;
}

ul ul, ol ol, ul ol, ol ul {
    margin-top: 1em;
    margin-bottom: 1em;
}

/* See https://bugs.netsurf-browser.org/mantis/view.php?id=2434 */
ul.csg-netsurf-2434 {
    padding: 0 0 0 2em;
    list-style-type: none;
}

li {
    padding: 0;
    margin-top: 1em;
    margin-bottom: 1em;
    text-align: left;
}

li p {
    margin-top: 1em;
    margin-bottom: 1em;
}

dl {
    padding: 0;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 1em;
}

dl dl {
    margin-top: 0em;
    margin-bottom: 0em;
}

dt {
    padding: 0;
    font-weight: bold;
    margin-top: .3em;
    margin-bottom: .3em;
}

dd {
    padding: 0;
    margin-top: .3em;
    margin-left: 3em;
    margin-bottom: .3em;
}

dl p {
    margin-top: .3em;
    margin-bottom: .3em;
}

/* start of csg-* definitions */

/* Most UI elements in bold text */
.csg-dbox,
.csg-dbox-button,
.csg-dbox-button-core,
.csg-dbox-option,
.csg-dbox-option-value,
.csg-menu,
.csg-menu-option,
.csg-toolbar-button {
    font-family: sans-serif;
    font-weight: bold;
}

/* A PipeDream Command sequence, e.g. EIRC */
.csg-command {
    font-family: sans-serif;
    font-weight: bold;
}

.csg-cmdseq {
    font-family: sans-serif;
    font-weight: bold;
}

/* A dialogue box */
.csg-dbox {
}

/* An action button in a dialogue box */
.csg-dbox-button {
    display: inline-block;
    padding: 0px 4px;
    background-color: #E4E4E4;
    border: 1px solid #BBB;
    margin-left: 2px;
    margin-right: 2px;
}

.csg-dbox-button-core {
    display: inline-block;
    padding: 0px 4px;
    background-color: #E4E4E4;
    border: 1px solid #CCC;
}

/* Container for default action button */
.csg-dbox-button-default {
    display: inline-block;
    padding: 1px;
    background-color: #FFFFAA;
    border: 1px solid #BBB;
    margin-left: 2px;
    margin-right: 2px;
}

/* An option button or field in a dialogue box */
.csg-dbox-option {
}

/* A specific option button value (e.g. radio button label) */
.csg-dbox-option-value {
}

/* Filename elements */
.csg-filename {
    font-family: monospace;
}

/* Things like pi render better */
.csg-greek-symbol {
    font-family: Symbol, serif;
}

/* A key on the keyboard */
.csg-key {
    font-family: sans-serif;
    font-weight: bold;
}

/* An arrow key on the keyboard (these render poorly on Windows in csg-key) */
.csg-key-arrow {
    font-family: monospace;
    font-weight: bold;
}

/* A menu */
.csg-menu {
}

/* An option on a menu */
.csg-menu-option {
}

/* Sample text */
.csg-sample {
    font-family: sans-serif;
    font-size: 11pt;
    font-weight: normal;
    font-style: normal;
}

.csg-sample p {
    padding: 0;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}

/* How much to indent samples by (NB not all sample text is on its own line to indent) */
.csg-sample-indent {
    margin-left: 2em;
}

/* Column headings in sample spreadsheets */
.csg-sample-sheet-border-column {
    background-color: #dddddd;
    text-align: center;
    border: 1px solid;
}

/* Row headings in sample spreadsheets */
.csg-sample-sheet-border-row {
    background-color: #dddddd;
    text-align: center;
    border: 1px solid;
    width: 36pt;
}

/* A number cell in sample spreadsheets */
.csg-sample-sheet-cell-number {
    text-align: right;
    padding-left: 6pt;
    padding-right: 6pt;
}

/* A button on the PipeDream toolbar */
.csg-toolbar-button {
}

/* Text typed by the user */
.csg-user-text {
    font-family: monospace;
}

table {
    border-collapse: collapse;
}

/* PipeDream command tables (Menu, Command, Cmd-seq, Key) */
table.csg-command-table {
    border-collapse: collapse;
    width: 100%;
}

table.csg-command-table, table.csg-command-table th, table.csg-command-table td {
    border: 1px solid black;
}

table.csg-command-table th, table.csg-command-table td {
    padding-left: 0.2em;
    padding-right: 0.2em;
}

table.csg-command-table th {
    text-align: left;
    font-weight: bold;
    background-color: #eeeeee;
}

table.csg-command-table th.csg-ct-th-menu {
    width: 20%;
}

table.csg-command-table th.csg-ct-th-command {
    width: 30%;
}

table.csg-command-table th.csg-ct-th-tool {
    width: 6%;
    text-align: center;
}

table.csg-command-table th.csg-ct-th-tool-none {
    width: 6%;
    text-align: center;
    color: darkGray;
}

table.csg-command-table th.csg-ct-th-key {
    width: 20%;
}

table.csg-command-table th.csg-ct-th-key-none {
    width: 20%;
    color: darkGray;
}

table.csg-command-table th.csg-ct-th-cmdseq {
    width: 24%;
}

table.csg-command-table td img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

nav.navheader {
}

nav.navheader > table {
    width: 100%;
}

.navheader td:nth-child(1),
.navheader th:nth-child(1),
.navheader_PCN_L {
    width: 20%;
    text-align: left;
    padding-left: 0;
    vertical-align: bottom;
}

.navheader td:nth-child(2),
.navheader th:nth-child(2),
.navheader_PCN_C {
    width: 60%;
    text-align: center;
    vertical-align: top;
}

.navheader td:nth-child(3),
.navheader th:nth-child(3),
.navheader_PCN_R {
    width: 20%;
    text-align: right;
    padding-right: 0;
    vertical-align: bottom;
}

.navfooter {
}

nav.navfooter {
    border-top: 1px solid #888;
    padding-top: 8pt;
    margin-top: 24pt;
}

nav.navfooter > table {
    width: 100%;
}

.navfooter td:nth-child(1),
.navfooter_PUN_L {
    width: 40%;
    text-align: left;
    padding-left: 0;
    vertical-align: top;
}

.navfooter td:nth-child(2),
.navfooter_PUN_C {
    width: 20%;
    text-align: center;
    vertical-align: top;
}

.navfooter td:nth-child(3),
.navfooter_PUN_R {
    width: 40%;
    text-align: right;
    padding-right: 0;
    vertical-align: top;
}
