Package: PipeDream-Manuals
Version: 20191220
Section: Manuals
Priority: Optional
Maintainer: Colton Software <colton-software-pipedream@googlegroups.com>
Standards-Version: 0.4.0
Licence: Free
Description: PipeDream Tutorial and Reference Guide
 The Tutorial is designed to give you an overall feel for how to use PipeDream by taking you through several examples which you can try out on your computer as you are reading. The examples deal separately with word processing, spreadsheet use, database use and finally a demonstration of PipeDream's capacity to combine these different sorts of work. You can find the accompanying files in the PipeDream-Examples package.
 .
 The Reference Guide is designed for users of PipeDream who know what they want to do but need to be able to look up the details.
Components: Manuals.PipeDream (Movable)
Recommends: PipeDream
